/* Desktop styling */

/* container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Dashboard */

.nav-bar {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.nav-logo {
  padding: 20px;
}
.nav-list {
  display: flex;
}
.nav-items {
  margin-left: 75%;
  display: flex;
}
.nav-list li {
  list-style: none;
  padding: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #ffffff;
  background: #d90429;
  padding: 10px;
  border-radius: 50%;
}

.dashboard h3 {
  font-size: 14px;
  padding: 2% 3%;
}
.tabs {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 95%;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.summary {
  margin: 0 35px 0 0;
  background: #ffffff;
  border-top: 2px solid #e8544b;
}
.summary p {
  padding: 8px 0;
  font-weight: bold;
}
.details {
  background: #ffffff;
  border-top: 2px solid #ffffff;
}
.details p {
  padding: 10px 0;
}
.details p a {
  text-decoration: none;
  color: #1a1a1a;
}

.summary-details {
  margin: 1% 2.5%;
  background: #fff0f3;
  border: 1px solid rgba(217, 4, 41, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.summary-details h5 {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 15px;
  padding: 0.5% 2%;
}
.info {
  display: flex;
  padding: 1% 2%;
  gap: 10%;
}
.info li {
  list-style: none;
}
.info li span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}
.info li p {
  color: #333333;
  font-size: 14px;
  padding: 10px 0;
}

.services-heading h3 {
  margin: 1% 2.5%;
  font-size: 14px;
}
.services-heading span {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
}

.current-services {
  margin: 1% 2.5%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.current-services h5 {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 15px;
  padding: 0.5% 2%;
}
.info li span img {
  height: 40px;
  width: 50px;
}
.footer {
  position: absolute;
  width: fit-content;
  height: 16px;
  left: 689px;
  top: 721px;

  font-size: 14px;
  text-align: center;

  color: #1a1a1a;
}
/* login */
.container {
  display: flex;
  width: 100%;
}

/* logo styling */
.logo-container {
  width: 50%;
  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;

  background: #d90429;
}

.spirit-logo {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 150px;
  top: 124px;
}
.top-img {
  position: fixed;
  width: 227px;
  height: 227px;
}
.bottom-img {
  position: fixed;
  width: 200px;
  height: 150px;
  left: 532px;
  top: 585px;
}
.heading {
  position: absolute;
  width: 401px;
  height: 80px;
  left: 180px;
  top: 550px;

  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
.heading a {
  text-decoration: none;
  color: #ffffff;
}

/* login */

.login-container {
  width: 50%;
  position: absolute;
  width: 380px;
  height: 549px;
  left: 855px;
  top: 130px;
  margin: 0 5%;
  padding: 1%;
}

.login-header {
  font-size: 32px;
  line-height: 44px;
  color: #1a1a1a;
}
.helper-text {
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  padding: 10px 0;
}
.login-input label {
  padding: 10px 0;
}
.login-input {
  padding: 2%;
}
.login-input img {
  position: absolute;
  bottom: 280px;
  right: 50px;
  width: 24px;
  height: 24px;
}

.login-input input {
  width: 320px;
  height: 45px;
  margin: 10px 0;
  border: 0;
  outline: none;
  background: #e8e8e8;
  border-radius: 12px;
}

.date-input {
  position: absolute;
  bottom: 172px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.pw-input {
  position: absolute;
  bottom: 72px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.cpw-input {
  position: absolute;
  bottom: -27px;
  right: 0px;
  width: 24px;
  height: 24px;
}
.forgot-text {
  text-align: right;
}
.forgot-text a {
  font-size: 12px;
  color: #d90429;
  font-weight: 600;
  margin-right: 6%;
  text-decoration: none;
}
.login-btn {
  background: #d90429;
  box-shadow: 0px 6px 28px 5px rgba(254, 45, 23, 0.3);
  border-radius: 12px;
  border: 0;
  outline: none;
  color: #ffffff;
  width: 320px;
  height: 40px;
  padding: 2.5%;
  margin: 5% 10px;
  font-size: 16px;
  text-align: center;
}
.create-account {
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  padding: 5% 5%;
}
.create-account span a {
  text-decoration: none;
  color: #d90429;
}

/* signup container */

.signup-container {
  width: 50%;
  position: absolute;
  width: 380px;
  height: 90vh;
  left: 855px;
  top: 40px;
  margin: 0 5%;
  padding: 1%;
}

/* details container */
.transaction-container {
  width: 95%;
  height: fit-content;
  left: 24px;
  top: 233px;
  margin: 1% 2.5%;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 1% 0;
  font-size: 14px;
}
.details-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  color: #828282;
  margin: 1% 2.5%;
  align-items: center;
}
.details-heading {
  list-style: none;
}
.details-data {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5%;
  background: rgba(244, 245, 253, 0.5);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  padding: 5px;
}
.details-data img {
  padding: 5px;
  margin: 0 5px;
}
.summary-tab {
  margin: 0 35px 0 0;
  background: #ffffff;
  border-top: 2px solid #ffffff;
}
.summary-tab p {
  padding: 8px 0;
}
.summary-tab p a {
  text-decoration: none;
  color: #1a1a1a;
}
.details-tab {
  background: #ffffff;
  border-top: 2px solid #e8544b;
}
.details-tab p {
  padding: 10px 0;
  font-weight: bold;
}
