/* Desktop styling */

/* container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  width: 100%;
}

/* logo styling */
.logo-container {
  width: 50%;
  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;

  background: #d90429;
}

.spirit-logo {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 150px;
  top: 124px;
}
.top-img {
  position: fixed;
  width: 227px;
  height: 227px;
}
.bottom-img {
  position: fixed;
  width: 200px;
  height: 200px;
  left: 622px;
  top: 615px;
}
.heading {
  position: absolute;
  width: 401px;
  height: 80px;
  left: 200px;
  top: 620px;

  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}

/* login */

.login-container {
  width: 50%;
  position: absolute;
  width: 420px;
  height: 549px;
  left: 865px;
  top: 160px;
  margin: 0 10%;
  border: 2px solid black;
}

.login-header {
  width: 87px;
  height: 44px;
  left: 865px;
  top: 160px;

  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */

  color: #1a1a1a;
}
.helper-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
}
